<div class="jumbotron" style="margin-top: 10%;">
  <h1><span style="color: #00a9e0;">#</span>HelpTheSheriff</h1>
  <p class="lead">Help the sheriff with the assignment of the PTRs.</br>
    Choose <span style="text-decoration: underline;">randomly</span> a member of your team. <b>Good luck!</b></p>
  <form action="/assign" method="POST">
    <button type="submit" class="btn btn-lg btn-success" id="assign">Assign</button>
  </form>
</div>
