<video autoplay id="bgvid" loop>
	<!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
	<source src="assets/oscar_goes_to.webm" type="video/webm">
	<source src="assets/oscar_goes_to.mp4" type="video/mp4">
</video>
<div class="jumbotron" style="margin-top: 15%;">
	<h1>And the PTR goes to ...</h1>
	<h3 class="loading">... OMG the wait is killing me! ...</h3>
	<button type="submit" class="btn btn-lg btn-success winner" id="assign" style="width: 40%;">{{ . }}</button>
	<h4 class="roberto"> (and if there's a Roberto in your team .. +10 points!)</h4>
	<br />
	<h3 class="newOne"> Back to the <a href="https://helpthesheriff.herokuapp.com/">Home Page</a> to assign a new one! </h3>
</div>